@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@400;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Cairo", ui-sans-serif, system-ui, sans-serif;
}

@layer base {
  body {
    @apply bg-slate-950 text-slate-50 antialiased;
    font-feature-settings: "ss01", "ss02", "cv01", "cv02";
  }
}

.rtl {
  direction: rtl;
}
